#btn {
  background: linear-gradient(to right, #db87f0, #340e8d);
  /* Use linear-gradient() to create a horizontal gradient
       from red (#ff0000) to green (#00ff00) */

  /* Add other styling properties as desired */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* profile */

.profile {
  display: grid;
  grid-template-columns: 3fr 5fr;
}

/* profile banner */
.profileBanner {
  background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*Sdfm4E98ugZGQ-u5Xoa83g.png");
  width: 100%;
  padding: 20px;
  height: 200px;
  border-radius: 4px;
  
  background-size: cover;
  box-sizing: border-box;

}
